
# The repository of the image. Default is weizhouapache/cloudstack-builder
REPO=weizhouapache/cloudstack-builder

# The name of the image
IMAGE=centos7.v1

# The source directory or git repository
# This will be mounted or cloned to /source the docker container.
SOURCE=https://github.com/apache/cloudstack.git

# The directory where the packages will be.
# This will be mounted to /output the docker container.
OUTPUT=/tmp

# The CloudStack version, branch name or commit SHA.
VERSION=main

# The build options.
# The default value for is "-Dnoredist -DskipTests -Dsystemvm-kvm -Dsystemvm-xen -Dsystemvm-vmware"
# Please refer to https://github.com/weizhouapache/docker-cloudstack-builder/blob/main/README.md
BUILD_OPTS=

# The options for `package.sh` (RPM only)
# Please refer to https://github.com/apache/cloudstack/blob/main/packaging/package.sh
PACKAGE_OPTS=

# Please set to sudo if use a non-root user	
SUDO=
